<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="root">
    <input type="text" v-model="firstName"><br>
    <input type="text" v-model="lastName"><br>
    全名：{{fullName}}
  </div>
</body>
<script>
  new Vue({
    el: '#root',
    data: {
      firstName:'张',
      lastName:'三'
    },
    // 计算属性的使用，计算属性和方法可以一起使用
    /*data中写的东西都是属性，计算属性：就是加工已经存在的属性*/
    computed:{
      fullName:{
        // get的作用：当有人读取时将get的返回值作为fullname的值
        // get中的指向是vm，此处的this是vm
        // get什么时候调用？当多次使用同一个计算属性的时候就会使用缓存，实际上只会调用一次
        // 初次读取fullname使get将会被调用，当计算属性中的值发生变化时，也会改变（依赖的数据）
        get(){
          return this.firstName+"-"+this.lastName;
        }
        // 计算属性还存在set方法，将使我们可以修改里面的数据，当fullname被修改时被调用
      }
    }
  })
</script>

</html>